html {
    scroll-behavior: smooth;
}

/*# sourceMappingURL=bootstrap.min.css.map */
body {
    font-family: 'Poppins',
        sans-serif !important;
    flex-wrap: wrap;
    margin: auto;
    overflow-x: hidden;
}

/* .pre-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(http://project.lystra.com.tr/jane/img/loader.svg);
    z-index: 9999999;
} */

header {
    height: 100vh;
    background-size: cover;
    background-image: url('./images/Screenshot_132.png');
    position: relative;
    overflow: hidden;
    background-position: relative;
    color: #fff;
}

.fixed-top {
    background-color: transparent;
    height: 90px;
    transition: all .5s linear;


}

.fixed-top:hover h1 {
    color: #5e5e5e;
}

.nav-sticky {
    background-color: #fff;
    box-shadow: 0px 0px 8px #efefef;
    transition: all .5s linear;

}

.nav-sticky :only-child {
    margin-top: 20px;
}

.navbar-brand h1 {
    text-transform: uppercase;
    height: auto;
    font-size: 19px;
    font-weight: bold;
    color: #dc3538;
    position: relative;
    margin-left: 31px;
    float: left;

    padding: 15px 15px;
    padding-top: 4px;

}

a:visited{
    text-decoration: none;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.nav-item {

    padding-right: 10px;
    line-height: 25px;
}

.nav-item:last-child {
    padding-right: 36px;
}

.fixed-top .nav-link {
    text-transform: uppercase;
    color: #fefefe !important;
}

.nav-sticky .active a {
    color: #aeaeae !important;
}

.nav-sticky .active {
    color: #aeaeae !important;
}

.fixed-top>.active>.nav-link {
    color: #333 !important;
}

.fixed-top .nav-link:hover {
    color: #333 !important;
}

.nav-sticky .nav-link {

    color: #333 !important;

}

.nav-link {
    padding: 0px !important;
    margin: 10px !important;
}

.nav-sticky .nav-link:hover {
    color: #aeaeae !important;


}

.bord-bot-nav {
    border-bottom: solid 2px #dc3538;


}

@media (max-width: 767px) {
    body {
        font-family: 'Poppins',
            sans-serif !important;
        flex-wrap: wrap;

        padding: 0;
        overflow-x: hidden;
        margin: auto;
    }

   

    .nav-sticky :only-child {
        margin-top: 0px;

    }



    .navbar-collapse {
        margin-left: -16px;
        margin-right: -16px;
        background: rgb(232, 232, 232);
    }

    .active {
        color: #aeaeae;
    }

    .nav-link {
        border: hidden;
    }

    .last-main>div>div>img {
        width: 80%;
        margin: 0px !important;
    }

    footer {
        padding: 0 !important;
        margin: 0;
        width: 100%;
    }

    footer>div {
        padding: 0 !important;
    }

    footer>div>div {
        padding: 0 !important;
    }
}

header .header-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -15px;
    padding-top: 0px !important;
    margin: 0;
    top: 290px;
}

header .header-content h1 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 45px;
    line-height: 1.4;
    margin: 0;
}

header .header-content h1 span {
    color: #dc3538;
}

header .header-content p {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 30px;
}

header .header-content p a {
    color: #676767;
    border-bottom: 1px dashed #333;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px
}

header .header-content p a {
    text-decoration: none;
}

.bt {
    border: 1px solid #ffffff;
    padding: 15px 60px;
    font-size: 18px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
    border: 1px solid white;
    position: relative;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    color: white;
    transition: all 0.4s ease;
    margin-top: 30px;
    text-decoration: none;
}

.bt:hover {
    border-color: #fff;
    border: 1px solid #ffffff;
    color: #fff;
    text-decoration: none;
    background-color: #dc3538;
    transition: all 0.4s ease;
}

.scroll-down {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    cursor: pointer;
    width: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #dc3538;
    border-image: initial;
    border-radius: 50px;
}

.scroll-down::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #dc3538;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    border-radius: 50%;
    animation: mouse 2s ease 0s infinite;
}


@keyframes mouse {
    from {
        opacity: 1;
        top: 10px;
    }

    to {
        opacity: 0;
        top: 35px;
    }
}

#about {
    background-color: rgba(247, 247, 247, 0.12);
    padding-bottom: 0;
    background-image: url("http://project.lystra.com.tr/jane/img/overlay.png");
    background-size: cover;
    padding-top: 100px;
}

.general-title {
    text-align: center;
    margin-bottom: 100px;
}
.avatar-image img{
width: 79%;
border: #d3d6d8 2px solid;
border-radius: 10px;
}
.avatar-image:after {
    content: '';
    position: absolute;
    top: 23px;
    left: -10%;
    background-image: url(http://project.lystra.com.tr/jane/img/dots.png);
    height: 96%;
    width: 50%;
    z-index: -1;
    border: 15px solid #dc3538;
}

.information {
    margin-top: 55px;
}

#about .information h3 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    color: #dc3538;
}

#about .information h2 {

    font-weight: bold;
    font-size: 40px;
    line-height: 1.3;
}

#about .information p {
    font-size: 16px;
    color: #8d8d8d;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 0px;
}


.text-text>a {
    border: 1px solid #ffffff;
    padding: 15px 60px;
    font-size: 18px;
    overflow: hidden;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
    border: 1px solid white;
    position: relative;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    color: white;

}

.text-text>.btn:hover {
    color: white;
    background-color: #dc3538;
    transition: ease-in-out 0.4s;
}

@media (max-width: 991px) {
    #about {
        display: flex;
    }

}

.col-lg-7 {
    padding-left: 15px;
}

.col-lg-5 {
    padding-right: 15px;
}

.info {
    display: flex;
}

.info>li {
    position: relative;
}

li {
    list-style: none;
}

.social-links>a>i {
    background: #dc3538;
    color: #fff;
    margin-right: 12px;
    height: 40px;
    width: 40px;
    border: 1px solid transparent;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links>a {
    display: inline-block;
}

hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #8fd8b4;
}

li {
    margin-bottom: 20px;
}

li>span {
    font-size: 17px;
    font-weight: 400;
    color: #8d8d8d;
    line-height: 1.42857143;
}

.skill {
    padding: 100px 0px;
    background-image: url("http://project.lystra.com.tr/jane/img/skills.jpg");
    display: flex;
    color: #fff;
    background-size: cover;
}

.sk-p1>p {
    font-size: 16px;
    font-family: 'Poppins',
        sans-serif;
    color: #ececec;
}

.sk-p1>a {
    border: 1px solid #ffffff;
    padding: 15px 60px;
    font-size: 18px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
    border: 1px solid white;
    position: relative;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    color: white;

}

.sk-p1>.btn {
    transition: all ease 0.4s;
}

.sk-p1>.btn:hover {
    background-color: white;
    color: #dc3538;
    transition: all ease 0.4s;
}

.skill-title {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
    margin-top: 30px;
}

.general-title h3 {
    margin: 0;
    text-transform: lowercase;
    color: #dc3538;
    letter-spacing: 4px;
    position: relative;
    font-size: 20px;
}

.general-title h3:after {
    content: '';
    position: absolute;
    background: linear-gradient(to right, #fff, #dc3538, #dc3538, #fff);
    height: 2px;
    width: 100px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.general-title h2 {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 20px 0;
    display: inline-block;
}

.general-title h2:before {
    content: '';
    position: absolute;
    top: -15px;
    right: -15px;
    height: 40px;
    width: 40px;
    background-color: rgba(220, 53, 56, 0.16);
    border-radius: 50%;
}

.general-title h2:after {
    background: transparent linear-gradient(to right, transparent, rgba(0, 0, 0, 0.07), transparent) repeat scroll 0 0;
    content: '';
    position: absolute;
    height: 120%;
    width: 200%;
    top: -15%;
    left: -50%;
}

.general-title h3 {
    margin: 0;
    text-transform: lowercase;
    color: #dc3538;
    letter-spacing: 4px;
    position: relative;
    font-size: 20px;
}

.general-title h3:after {
    content: '';
    position: absolute;
    background: linear-gradient(to right, #fff, #dc3538, #dc3538, #fff);
    height: 2px;
    width: 100px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

#services {
    padding: 100px 0;
}

.service-box>img {
    width: 100px;
    height: 100px;
    margin: 0 0 20px;
}

.service-box>a>h3 {
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 0;
    font-size: 20px;
    text-decoration: none;
    color: #dc3538;
}

.service-box>a {
    text-decoration: none;
}

.service-box>p {
    color: #7d7d7d;
    margin-top: 0;
}

.service-box {
    transition: 0.3s;
    padding: 50px;
    margin: 0 0 30px;
    border-left: 5px solid transparent;
    box-shadow: 0px 0px 30px rgba(238, 238, 238, 0.46);
}

.service-box:hover {
    border-left: 5px solid #dc3538;
    box-shadow: 0px 0px 30px #eee;
    transition: 0.3s;
}

#resume {
    padding: 100px 0;
    background: rgba(229, 229, 229, 0.4);
}

.edu-exp {
    position: relative;

    background-color: #fff;
    padding: 50px;
    margin: 0 0 30px;
    border-left: 10px solid transparent;
    box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.08);
}

.edu-exp:hover {
    border-left: 10px solid #dc3538;
}

.title-edu-exp>h2 {
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 0;
}

.edu-exp:before {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 20px;
    border: 2px dashed #e2e2e2;
    height: 30px;
}

.edu-exp:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 20px;
    border: 2px dashed #e2e2e2;
    height: 30px;
    box-sizing: border-box;
}

.edu-exp:last-child:before {
    content: '';
    border: none;
}

.edu-exp:last-child:after {
    content: '';
    border: none;
}

.time {
    font-size: 16px;
    color: #dc3538;
    font-weight: 600;
}

.edu-exp>h3 {
    color: #373736;
    font-size: 22px;
    font-weight: bold;
}

.edu-exp>p {
    color: #868686;
    font-size: 17px;
    text-transform: lowercase;
    line-height: 30px;
}

.hire-me {
    padding: 100px 0;
}

.hire-me h2 {
    margin: 0;
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
    color: #fff;

}


.hire-me .b {
    padding: 10px 60px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 0;
}

.b {
    border: 1px solid #fff;
    border-radius: 0;
    transition: all ease 0.4s;
    background-color: #dc3538;

}

.hire-me span {
    color: #fff;
}

.b:hover {
    background-color: #fff;
    transition: all ease 0.4s;
}

.b:hover span {
    color: #dc3538;


}


.b>span {

    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}



@media only screen and (max-width: 992px) {
    .my-project>.row>div {
        justify-content: center;
        text-align: center;
    }

    /* STYLES HERE for DEVICES with physical max-screen width of 480px */
}

#portfolio {
    padding: 100px 0;

}

.list-por {
    text-align: center;
}

.list-por>ul {
    display: inline-block;
    margin: 0 0 35px;
    padding: 15px 40px;
    background-color: #dc3538;
    border-radius: 5px;
}

.list-por>ul>li {
    font-weight: 500;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.42857143;
    text-transform: capitalize;
    background-color: #dc3538;
    color: #E4E8EC;
    margin: 0 20px 0 0;
    display: inline-block;
    list-style: none;
}

#portfolio {
    padding: 100px 0;

}

#portfolio>.row {
    padding: 0 !important;

    margin: 0 0px !important;

}

img {
    vertical-align: middle;
}

.box-img {
    max-height: 350px !important;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
}

.box-img:before {
    content: '';
    position: absolute;


    top: 0;
    left: 0;
    height: 50%;
    width: 0%;
    background-color: rgba(220, 53, 56, 0.8);
}


@keyframes aniname-top {
    from {
        left: 100%;
    }

    to {

        left: 0px;
    }
}

@keyframes aniname-bot {
    from {
        right: 100%;
    }

    to {
        right: 0px;
    }
}


.box-img:hover:before {
    width: 100%;
    animation: aniname-top 0.4s;
}

.box-img:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 0%;
    background-color: rgba(220, 53, 56, 0.8);

}


.box-img:hover:after {
    width: 100%;
    animation: aniname-bot 0.4s;
}

.portfolio-text {
    position: absolute;
    transition: all .3s linear;
    top: 70%;
    z-index: 5;
    left: -500px;
    transform: translateY(-50%);
}

.portfolio-text>h2 {
    color: #fff;
    margin: 0;
    font-size: 22px;
}

.portfolio-text>p {
    color: #eee;
    margin: 0 0 0 15px;
    font-size: 15px;
}

.box-img:hover>.portfolio-text {
    left: 20px;
}

.img-icons {
    position: absolute;
    top: -200px;
    z-index: 5;
    transition: all .3s linear;
    right: 20px;
}

.box-img:hover>.img-icons {
    top: 0;
}

.img-icons>a>i {
    font-size: 18px;
    color: #dc3538;
    height: 40px;
    width: 40px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    display: block;
    line-height: 40px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#testimonials {
    background: rgba(229, 229, 229, 0.4);
    padding: 100px 0;
}

.my-slides>div>div {
    margin: auto !important;
}

.mySlides>div>img {

    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.mySlides>div>div {
    width: 500px;

}

.bgr-sli>:last-child {
    color: #dc3538;
}

.mySlides>.bgr-sli>div,
.mySlides>.bgr-sli {
    text-align: center;

}

.w3-content {
    margin: auto;
}

.w3-section {
    display: flex;
    justify-content: center;
}

.w3-section>button {
    background-color: #dc3538;
    background: #dc3538;
    color: #fff;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    border: none;
    font: 12px;
}

.last-main>.row {
    background-color: #e6eef4;
    padding-top: 20px;
    padding-bottom: 70px;
    flex-wrap: wrap;
    margin: 0;
}

.last-main>.row>div {
    padding: 0;
    margin: 0;
    align-items: center;
}

.last-main>div>div>img {
    width: 65%;
    margin-top: 20%;
    border-radius: 50%;
    margin-left: 55px;
}

.form-contact {
    margin-left: 50px;
}

.form-contact>button {
 
    background: #fff;
    border: 3px solid transparent;
    color: gray;
    padding: 8px 60px;
    margin-top: 8px;
    transition: ease 0.4s;
    border-radius: 10px;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 12px 0 12px 12px;
    margin-left: 100px !important;
    margin: 20px 0 20px 0 !important;
    border-radius: 10px;
}

.form-contact>button:hover {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    transition: ease 0.4s;
}

.skill-box .progress-line {
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 0 0;
    height: 3px;
    margin: 0;
    position: relative;
    width: 100%;

}

.skill-box .progress-line>span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #fff;
    color: #d3d6d8;
    animation: percent 2s;
}

.skill-box .progress-line>span>.percent-tooltip {
    position: absolute;
    right: -15px;
    top: -30px;
    padding: 2px 5px;
    background: #fff;
    color: #dc3538;
    font-size: 12px;
    font-weight: normal;

}


.skill-box .progress-line>span>.percent-tooltip:before {
    position: absolute;
    content: "";
    bottom: -14px;
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 7px 5px;
    left: 37%;

}

.percent-tooltip::after {
    content: "%";
}

a:hover {
    text-decoration: none !important;
}

footer {
    text-align: center;
    align-items: center;
    height: 85px;
    justify-content: space-around;
    font-size: 18px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Poppins',
        sans-serif;
    font-size: 18px;
    color: #222129;
    margin-right: 20px;
    font-weight: 300;
}

footer>.link-of-footer>a {
    color: #222129;
    padding: 5px;
    font-weight: 300;
}

.data-percent-zero {
    width: 0% !important;
}